9.8 meters
80 million metric tons
Rio de Janeiro
19th century
governmental and academic institutions
1973
municipality of Rio de Janeiro
yucca flour
volcanic chain
346,000 square kilometres
MERs
2004
demersal fishes, sardine, lobsters, snappers and tunas
Santos and Pelotas Basins
1973
granitic and metamorphic rocks
a reef
Coastal Forum
crisis
agriculture minister
90,00
artisanal fishers
middlemen
Gaspar de Lemos and Gonçalo Coelho
Gonçalo Coelho
15
0.36 square kilometres
engraulid Anchoviella lepidendostole
Porto de Santos
Small purse seiners
Florianópolis
economic rise, social-economic and cultural development of the city, the state and the Northeast region of Brazil
1970s
Barra do Una Sustainable Development Reserve
1933
Saint Peter and Saint Paul Archipelago
Neoproterozoic mobile belts
Gondwana
lack of data
Bahia
Guapimirim Environmental Protection Area
1.335 hectares
water quality is relatively poor
Neocomian
Abrolhos Marine National Park
to organize the fishing communities spread out along the coast into reserves for the Navy
Pico Cabugi and the Fortaleza region
Boa Vista (or dos Alcatrazes) Peak
Ferroban and MRS
several hours
Fernando de Noronha
Cabo Frio High
Ilha Cagarra
70%
Martim Afonso de Sousa
the north to Florianópolis
Bahia
1767
South Trinidad
the end of the military dictatorial regime
Atlantic Ocean
to catechize and ultimately disappeared
205 km
