Vitória-Trindade
19th
Ilha da Racha
0.3 square kilometres
Trindade
longest beach in the world
Atlantic coast
122,000 km2
islands, reefs and bays
16th century
Mangrove areas
35,591
The Blue Amazon
administratively unique
2,000 metres (6,600 ft)
Large-scale shrimp cultivation
3.7 kilometres (2.3 mi) long and 2.5 kilometres (1.6 mi) wide
260 km (160 mi)
30
Santa Catarina and Rio Grande do Sul
1995
Sociedade Civil Mamirauá
mainly in estuaries
Brazil
a management plan for lobster fishing
Walvis Ridge
Bromley Plateau
Dias-Neto and Marrul-Filho
Skoletnev, Peyve & Truko 2010 and Motoki, Motoki & Melo 2012
Fernando de Noronha
the Provincial Federation
Trindade
the surface of the Amazon rainforest
Ilha Redonda and Ilha Redondinha
fracture zones
Vitória-Trindade seamount chain
The Bay of All Saints
day excursions of eco-tourists
scientific research
alliances with other social movements, political parties and local movements
brined, dried and sold
artisanal fishing communities
the Serra Do Mar coastal range
two
protection of species
magroves
6 metres (20 ft)
Guanabara Bay
a boat or ferry
Women
700 years
coffee
the Ilha Comprida Environmental Protection Area
Campos dos Goytacazes city
2.5 million years ago
prison
SEAP
Brazil
Tristan-Gough hotspot
Neoproterozoic to Cambrian high-grade metamorphic core of granites and gneisses
1864
15 minutes
Serra do Mar
metre gauge railway
Paraiba do Sul River delta
1988
NW
21
universities and government research centres
346,000 square kilometres
Atlantic Forest
Paraná Basin
Iguape-Cananéia-Paranaguá
Guanabara Bay
shells, shellfish and ceramics
2003
Ilha Grande
grain and soybean meal
sediments in the pre-salt layer
Chico Mendes Institute for Biodiversity Conservation
No hydrocarbon accumulations
900 thousand square kilometers
Fernando hotspot
Urban industrial employment
55%
8,000 meters
192.1 km2
5 km (3.1 miles) off Ipanema
Brazil
7,491 km
Saco do Funil
1986
San Salvatore di Ognissanti
200 metres (660 ft)
Mantle derived xenoliths
Pico do Papagaio
SUDEPE
land speculation, tourism and from overfishing of lobster
shrimp cultivation
91
UNESCO
16th century
Pernambuco
Fernando de Noronha archipelago of Brazil
Fernando de Noronha
volcanic
Rocas Atoll
Uruguay
510 nmi
523 hectares
two
Pernambuco
Virtual Population Analysis
45 millimetres per year
five
eastern
center of the bay
Grupos Permanentes de Estudo
Fishing
1 400
division of responsibilities in the management of fish stocks
Ilha Grande and Paraty
Illegal landings
300 kilometres (190 mi)
the analysis of biological, technological and socio-economic information of these major resources
fruits and ingredients
Ministry of Fisheries and Aquaculture
human activities
a thermal sag phase and drift stage
political purposes
relatively underexplored
yellow fever
Hauterivian
sheep
Farol Cay
1998
lack of policies, strategies and concrete experiences that can support sustainable fisheries production, better organization and improvement of the livelihood of fishing communities
the Environmental Protection Area of the Bay of All Saints
Ilha da Trindade
cold waters
Passengers Terminal
21
the selling of a plot of land to tourists
1993
the ‘weigher’
Recife antigo
31 kilometres (19 mi) long and 28 kilometres (17 mi) wide
southern
Companhia Docas do Rio de Janeiro
the National Movement of Fishers
Juan de La Cosa
347.52 km2
six
Elevado do Perimetral
Saint Peter and Saint Paul Archipelago
November 1
1892
6 metres (20 ft)
guyots, islands and seamounts
1501
112 million years ago
the maritime area considered exclusive economic zone of Brazil
1988
Ilha dos Frades, ilha de Maré, ilha de Bom Jesus, and the small Ilha do Medo
volcanism
Brazil
less speculative means
harvesting shellfish
five
The Rocas Atoll
support
There is no consensus among authors about the origin of the name of this archipelago
Twenty
artisanal coastal fisheries
5 June 1986
modern
a mangrove forest
61%
the bay
Atlantic Ocean
2006
flaxseed
Superagüi National Park
2016 Summer Olympics
almost entirely female
fixed nets, manual trawling and cast nets
Sepetiba and Angra dos Reis
1756
Metallic minerals and other mineral resources
grasses, bushes and a few palm trees
coastal region
Fernando de Noronha Environmental Protection Area
Brazilian Constitution
one hundred thousand
Coelho
154 m
Ilha dos Frades
Rio de Janeiro
sugar cane cultivation
3.6 million square km
39th
List of deep water ports
Four
northeast
eastern coast of Brazil
Fernando de Noronha Volcanic chain
the 16th century
17
Ria de Janeiro
South America
over 50 billion barrels of oil
NW-SE magmatic alignments
1950s
Guanabara Bay
The floods in the city's area provoked illnesses
40,900 square kilometres
high geothermal gradient
1960s
the diver
Oligocene-Eocene
weakening
the other islands
Amerigo Vespucci
halokinesis
four
20 000
The overall lack of information about these fisheries
evaporites
1,223 square kilometers
Alcatrazes Island
small-scale fishing
Numerous turtles, sharks, dolphins and birds
Ribeira de Iguape River
Drilling through the rock and salt to extract the pre-salt oil and gas
coral and red algae
Ilha Grande mangroves ecoregion
presidents of fishers’ guilds
fishing communities where they weave and darn the fishing nets
Secretariats for Environment
Pernambuco
Espirito Santo, Martins and Doxsey
Fernando de Noronha Environmental Protection Area
Paraná
second largest
Atol das Rocas Biological Reserve
to provide a broad perspective of the status of artisanal coastal fisheries in Brazil
Pernambuco
federal natural monument
IUCN protected area category V
Around 60
military regime
OIB-type
Paraná and Etendeka traps
11,362
geochemical data
technological changes and overexploitation of coastal resources
Porto Alegre, Belém, Teresina and Macapá
80 to 87 million years ago
rats
API
Vale
Tristan-Gough seamount chains
Serra do Mar
16,000 tonnes per hour
massive destruction of mangroves and associated ecosystems
the bosom of sea
1645
Campos Basin
universities and research institutes
Recôncavo region of Bahia
seven
Recife Port
deep-sea fishing
special features of relevance to particular fisheries when necessary
500 kilometers
Ipanema
resource conservation
1895 to 1896
increasing number of public institutions dealing with environment conservation
tuna fishing
six or seven
Port of Recife S.A. (Porto de Recife S.A.)
hogfish
Ilhota
September 12 of 1918
800 kilometers
Africa and Brazil
to conserve the environment, flora and fauna, while recognizing the needs of tourism
Alcatrazes
IBAMA
