30 million years ago
West Gondwana
migratory birds
8.4 m to 11.5 meters deep
a significant fraction of the world's reserves
Intertropical Convergence Zone
Farol da Barra
granite boulders
Millions
traditional fishing and related environmental
9
245 km
Rio de Janeiro
Gondwana
60 Ma
20 kilometres (66,000 ft)
fuel of the motorized artisanal boats
32
modern structure
The Port of Rio de Janeiro
the Tupinambá people
3,101
first reprimanded
Tupi
calcium
blue
Tamoio and Tupiniquim
gender division of labour
Isle of the Friars
1888
Rio de Janeiro
Fisheries assessment research
UNESCO
Aquaculture
MPA
Tristan da Cunha hotspot
Santos and Campos Basins
social movements and NGOs
352,000 square kilometres
the implementation of policies and measures to revert the critical situation of the main fish stocks
Tables 3 to 6 and Figure 4
12
South Channel
lacustrine shales and carbonates
South Atlantic
115,000 square kilometres (44,000 sq mi)
artisanal sector
rift basin
Brazilian
coffee farms
Artisanal fishers
volcanic breccia and layers of ash
Rio Grande do Norte
Portuguese
double
Paraná and Etendeka continental flood basalts
volcanic origin and coralline formation
1970s
RAMSAR
widows
Differentiates itself from another ports located in the city center the fact that the port does not have any interferences with the center
Fernando de Noronha
