The Basin is 145 million old.
The municipality was founded in 1993
feito pelo bot
Companhia Docas de Santos.
Galapagos of Brazil
in an area of 192.1 km2.
Because they supply local and regional markets.
In the early 1990s.
50m
The Port of Santos.
Recife and Natal.
In the early 20th century.
On the main Alcatrazes Island
American oystercatcher and the South American tern
They spread throughout the whole island and survived by preying native species now.
1,120-acre
comes from a bird
Cemitério Island and Farol Cay
feito pelo bot
943 square metres.
After the Campos dos Goytacazes city.
Belmonte
It is predominantly composed of evaporites.
Cars, machinery, orange juice and soybeans.
1995
14 billion barrels
It is a diachronous series of geological formations on the continental shelves of extensional basins formed after the break-up of Gondwana, characterised by the deposition of thick layers of evaporites, mostly salt.
north coast of São Paulo state
feito pelo bot
Into four different areas: the difficulties of flow in the port areas, the constraints to the rail model, the poor utilization of the capacity of the maritime terminals and the congestion in accesses
1.3 thousand species
It's a flat circular rock 200 metres (660 feet) northwest of Ilha da Racha.
The port of Santos is Brazil's largest port providing exports and imports to and from all over the world.
Protected species include green sea turtle (Chelonia mydas) the coral Phyllogorgia dilatata and the fish species island hogfish (Bodianus insularis) Anthias salmopunctatus butterflyfish (Prognathodes obliquus) and Stegastes sanctipauli.
1895
are monitored and removed
7m
Uraritã
Because the island was used as a prison and the vegetation was cut to make it harder for prisoners to hide.
The railway link from the port to the state capital São Paulo City.
Guanabara's Bay
feito pelo bot
Rocas Atoll
4200 metres thick.