Recife Port, is located in Recife Antigo in the city of Recife. It is located on the eastern island of Recife antigo on the banks of rivers Capibaribe and Beberibe
It's by the Anchieta and the Imigrantes highways and by the railroads operated by Ferroban and MRS.
The coastline of Brazil measures 7,491 km.
It consists of dark grey shales, silts and light grey marls, ochre-brown calcisilts and subordinated sandstones. 
It was due to the Yellow Fever.
No it was unsuccessfully introduced to control an infestation of rats.
Long Island
Farol Cay
It's the Bahia state
9 Brazilian states.
It depths between 2,000 and 3,000 metres (6,600 and 9,800 ft) in the South Atlantic.
1990
Numerous turtles, sharks, dolphins and birds live in the area.
The atoll was the site of a missile attack on a Cobra satellite communications tracking station and robotics storage center, in the G.I. Joe comic title from Marvel Comics.
Yes.
581 metres.
It is at São João da Barra in Rio de Janeiro.
It has an area of 424,4 km².
feito pelo bot
79 km.
6000
Duke of Caxias and Rio de Janeiro
The purpose is to conserve the environment flora and fauna while recognizing the needs of tourism.
93
southeastern Brazil in the state of Rio de Janeiro
Pico do Papagaio
Yes.
940 km
1892.
Duplo, Singela, do Paredão, Farol and Negra
316m
12.
Scinax alcatraz, real frog Cycloramphus faustoi
The main exports are coffee, sugar, and soy.
In August 1914
on September 9-11 2006
Yes
Between the south and east arms
1502
South Channel and North Channel.
Ilha Comprida, the longest of its kind in the state (74 kilometres 46 mi])
arabic word meaning the diver
There is a lighthouse of the Brazilian Navy that has been in operation and maintained since the 1960s
1440 square metres
yes
The floods in the city's area provoked illnesses.
15 possible endemic plant species
bosom of the sea
150
7491 km
Atlantic Ocean
133 million years ago
feito pelo bot
land of birds
Coffee.
to endemism
the coral invader in orange bowl
The general failure of governmental policies for the development of the fisheries sector, which have been focused almost exclusively on industrial fisheries.
400 invertebrate species and between 200 and 250 species of fish
316m
To provide firewood and to keep prisoners from hiding.
Amerigo Vespucci
412 square kilometers
It's known as the Blue Amazon or Amazônia Azul.
It is a protected area on Fernando de Noronha island.
CODESP.
Funnel Bag
portuguese navigators led by Estêvão da Gama
defines zoning and allowable land use in an effort to reduce environmental damage from human occupation.
It resulted from the break-up of Gondwana since the Early Cretaceous.
The Ilha Comprida has an average annual temperature of 24 °C.
Porto island
No most of the original trees were cut in the 19th century.
It's located near Rio de Janeiro.
There are only three beaches: Fazendinha, Boca do Inferno and Goiabal.
The Piauí state.
20
To control an infestation of rats.
The vegetation in composed mainly by grasses, bushes and a few palm trees.
Port of Santos
The port differentiates itself from another ports located in the city center the fact that the port does not have any interferences with the center.
85 thousand and 15 thousand years ago
The lack of investments and high tariffs.
feito pelo bot
Because the city’s population knew that the only way to return to the way of life was to end the strike.
The port operates 24 hours a day and there is only a three-lane road with two of those lanes for entry to the port and one for exiting.
200m
four
Niterói and São Gonçalo
Pernambuco state Brazil
Sapata, Paredão, Porto and South
The basin is bound by the Florianópolis High separating it from the Santos Basin in the north and the Polônio High in the south forming the border with the Punta del Este Basin.
Bahia
100
yes
feito pelo bot
tupinambás
six
The reserves can be of over 50 billion barrels of oil.
1864.
28 kilometers
15 islands
It means from the extreme south to the extreme north of the country.
4200 metres thick.
23170 meters
pre-Columbian
154m
Road access to Port of Recife is accomplished, mainly, through the federal highways BR-232 (linking the interior of the state) and BR-101 (linking to other States to the north and the south of the State of Pernambuco).
Saco do Funil, between the south and east arm of the island
The remoteness also limits researchers' access to the islands
10000
2.5 million years ago
No it was introduced to feed livestock
yes
Deepening the channels, applying intelligent transportation systems technologies, and better truck storage facilities.
The population is 11,362 (2020 est.)
65 thousand years
Historically, the port has been the main reason of the foundation of the village of Recife back in the 16th century.The history of the port is deeply linked to the economic rise, social-economic and cultural development of the city, the state and the Northeast region of Brazil; for being the main point of trade in goods and supplies to another states.
2.5km long with an area of 170 hectares
4
five
Access and distribution within the port.
143 kilometers
Because drilling through the rock and salt is very expensive.
Camboriú
The Northeast region.
feito pelo bot
35 km south of São Sebastiao
Santos Basin is separated from the Campos Basin to the north by the Cabo Frio High and the Pelotas Basin in the south by the Florianópolis High and the northwestern boundary onshore is formed by the Serra Do Mar coastal range.
Brazilian archipelago
67000 hectares
yes
The increasing movement of import, production and export of sugar, emerged along the vicinity of the port bringing the pioneer European settlers to live exclusively from commerce
January 1, 1502
35%.
It's located in the city of Santos, state of São Paulo, Brazil.
The atoll is a wildlife sanctuary, and in 2001 was designated by UNESCO as a World Heritage Site.The atoll and surrounding waters are contained in the Atol das Rocas Biological Reserve. The reserve it is currently used solely for scientific research. Due to their remote location, the islands remain largely undisturbed by human activities.
It is 517 metres thick.
Atlantic Ocean
Because it had a strong influence of Communism in the workers unions and city’s politics.
exercise of the Navy, pollution of the sea, chemical wastes and residues.
on June 5 2006
3.6 milion square km
The Port of Santos.
Brazil's navy
Tupi language
because the waters rise
The port is the principal source of jobs for the city of Santos.
Stretching southwest along the Atlantic coast of the state, it is coextensive with the barrier island of Ilha Comprida, the longest of its kind in the state (74 kilometres 46 mi])
Yes
Yes.
be located in a transition zone from warm tropical waters to colder subtropicals
2011
It was transformed in a new Passengers Terminal  with stores, food court and information kiosks.
Yes.
Main source rocks are the lacustrine shales and carbonates of the pre-salt Guaratiba Group and the marine shales of the post-salt Itajaí-Açu Formation. Reservoir rocks are formed by the pre-salt Guaratiba sandstones, limestones and microbialites, the Albian limestones of the Guarujá Formation and the Late Cretaceous to Paleogene turbiditic sandstones of the Itanhaém, Juréia, Itajaí-Açu, Florianópolis and Marambaia Formations. The mobile salt of the Ariri Formation forms regional seals, as well as the shales of the post-salt sedimentary infill.
They are in Maranhão.
1914
It is a hypothesis supposing that the submarine volcanic chain Vitória-Trindade is a volcanic hotspot chain.
The exploration in the Santos Basin started in the 1970s.
It is an approximately 352,000 square kilometres large.