2.5 million years
It drives the economy of the town of Santos and therefore the town is mainly dependent on the port.
All Saints Bay
The climate of the onshore stretch of the basin ranges from tropical savanna climate (Aw), tropical monsoon climate (Am) and tropical rainforest climate (Af) to a humid subtropical climate (Cfa).
It's about 115,000 square kilometres.
Guará Area of Relevant Ecological Interest
five
Northeast and Southeast
31 kilometers
Pico da Boa Vista (or the Alcatrazes)
feito pelo bot
This international port serves the RMR and has two main operational areas: Cruises and cargo.
The Port of Santos.
1440 square metres
The Santos Basin is named after the coastal city of Santos in the state of São Paulo.
12
14 km
Oratório
Pão de Açúcar
It is the world's 39th largest port in terms of container traffic.
Alcatrazes Island
Yes
3.6 million square km
It's the Monte Caburaí in the state of Roraima.
no